@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.nav {
  list-style: none;
  margin-top: 1rem;

  &--row {
    @include m.flex-center;
    gap: 1rem;
  }
  &__link {
    font-size: v.$font__size--3xl;
    font-family: v.$font__family--serif;
  }
}