<button class="btn btn--emoji" id="toggleThemes" aria-label="Switch Themes">
  <span class="emoji">☀️</span>
</button>

<a href="{{ "/tags/"| relURL }}" class="btn btn--emoji" aria-label="Tags">
  <span class="emoji">🏷️</span>
</a>

<a href="{{ site.BaseURL | absURL }}" class="btn btn--emoji" aria-label="{{ .Title }}">
  <span class="emoji">🏡</span>
</a>

<a href="{{ "/categories/" | relURL }}" class="btn btn--emoji" aria-label="Categories">
  <span class="emoji">📂</span>
</a>

<a href="{{ "search.html" | relURL }}" class="btn btn--emoji" aria-label="Search">
  <span class="emoji">🔍</span>
</a>