<div class="sidebar__header">
  <button class="btn btn--emoji" data-sidebar="sidebarRight" aria-label="Toggle Sidebar Right">
    <span class="emoji btn__emoji">🧭</span>
  </button>

  <form class="search" id="search" onsubmit="handleSearch(event)" method="get" id="search" data-search-url="{{ "search.json" | relURL }}">
    <label class="emoji" for="search-input" aria-label="search" title="search">🔍</label>
    <input class="search__input" type="search" id="search-input" name="query" placeholder="Search...." autocomplete="off" autocorrect="off" spellcheck="false">
  </form>
</div>

<nav class="navbar" id="resultsPanel" style="display: none;">
  <strong class="navbar__label">
    <span class="emoji">🔍</span>
    <span>Results</span>
  </strong>
  <ul class="nav nav--tree nav--expand" id="results" data-collapse="resultsSearch"></ul>
</nav>

<nav class="navbar">
  {{ if or .IsHome .IsSection }}
    {{ partial "components/widget.html" . }}
  {{ else }}
    {{ if or (.Params.toc) (and (not (isset .Params "toc")) site.Params.toc) }}
      <strong class="navbar__label">
        <span class="emoji">📖</span>
        <span>Daftar Isi</span>
      </strong>
      {{ $toc := .TableOfContents }}
      {{ $toc := replaceRE `<ul>` `<ul class="toc">` $toc }}
      {{ $toc := replaceRE `<li>` `<li class="toc__item">` $toc }}
      {{ $toc := replaceRE `<a href=` `<a class="toc__link" href=` $toc }}
      {{ $toc | safeHTML }}
    {{ end }}
  {{ end }}
</nav>