<header class="brand">
  <img src="{{ site.Params.logo | default "https://placehold.co/100" | relURL }}" alt="{{ site.Title }}" class="brand__image">
  <strong class="brand__title">{{ site.Title }}</strong>
  <div>
    <em class="brand__caption">{{ site.Params.description }}</em>
  </div>
  <div class="brand__wrapper">
    <button class="btn btn--emoji" data-sidebar="sidebarLeft" aria-label="Toggle Sidebar Left">
      <span class="emoji btn__emoji">🧭</span>
    </button>
    <button class="btn btn--emoji btn--theme" id="switchThemes" aria-label="Switch Themes">
      <span class="emoji">☀️</span>
    </button>
  </div>
</header>

{{ partial "components/menu.html" (dict "menuID" "main" "page" .) }}